/* Global */

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height:21px;
	color: #3e3e3e;
	overflow-x:hidden;
}

::selection {
	background: #fdc82b;
	color:#fff;
}
::-moz-selection {
	background: #fdc82b; /* Firefox */
	color:#fff;
}
img {
	max-width: 100%;
}
a:link {
	color: #fdc82b;
	text-decoration: none;
}
a:hover {
	color:#fdc82b;
}
a:visited {
	color: #fdc82b;
	text-decoration: none;
}

.fright{float:right;
}
.fleft{float:left;
}
.slogan {
	padding-top: 100px;
}
.overflow_hidden {overflow-x:hidden;}

/* Navigation */
#undefined-sticky-wrapper {position:relative;height:0 !important;}
.menu {
	position:absolute;
	bottom:0;
	width:100%;
	height:76px;
	background:#3e3e3e;
	z-index:9999;
}
#logo {
	float:left;
	margin-bottom:0;
	margin-left:0;
}

#nav {
	text-align: right;
}
.navigation{
	list-style: none;
	margin: 0;
}
ul.navigation {
	position:relative;
	width: 770px;
	margin:0 auto;
	padding:0;
}
.navigation li{
	float: left;
	text-align:left;
	/*padding:6px 9px;
	margin:23px 15px 21px;*/
	padding: 26px 19px;
	text-transform:uppercase;
	background:none;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	color:#b7b7b7;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navigation li:hover,
.navigation .active {
	cursor:pointer;
	/*background:#fdc82b;
	color:#3e3e3e;*/
	border-bottom: 4px solid #fdc82b;
}

.btn_dropdown {
	display:none;
	cursor:pointer;
	background:#fff;
	margin:20px 30px 0 0;
	width:130px;
	height:36px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:18px;
	line-height:36px;
	color:#3e3e3e;
	border-radius:5px;
}
.btn_dropdown:hover {color:#3e3e3e;}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	padding:0;
}


h2 {
	margin:0 0 23px;
	padding:0 20px;
	text-transform:uppercase;
	text-align:center;
	font-style:400;
	background:none;
	font-family: 'Raleway', sans-serif;
	font-size: 69px;
	line-height: 86px;
	color:#3e3e3e;
	font-weight: bold;
}



.slide_descr {
	margin:0 auto;
	width:790px;
}
h3 {
	margin:0;
	padding:40px 0 32px 0;
	text-transform:uppercase;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:32px;
	font-style:normal;
	line-height:36px;
	color:#3e3e3e;
}
.author span {
	display:inline-block;
	padding:0 8px;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	font-size:15px;
	line-height:36px;
	color:#3e3e3e;
}
.author_bord {
	display:inline-block;
	padding-bottom:5px;
	background:url(../images/author_bord.png) no-repeat;
	height:1px;
	width:22px;
}

h4 {
	margin:0;
	padding:0 0 15px;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:32px;
	font-style:normal;
	line-height:36px;
	color:#3e3e3e;
}

img.icon_img {
	float:left;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:25px;
}

.effect_2 {
	background:url(../images/effect_2.png) repeat left top;
	position:relative;
	top:0;
	bottom:-57px;
	height:100%;
	z-index:999 !important;
}

/* ____________________________________ Slide 1 ____________________________________ */ 

.padding_slide1 {padding:241px 0 101px 0;
}

.inset_shadow {
	position:absolute;
	z-index:10;
	left:0;
	right:0;
	top:0;
	bottom:76px;
	box-shadow:0 0 60px rgba(0,0,0, 0.7) inset;
}

.force-height {
	background-size: cover !important;
	width:100%;
	text-align:center;
	margin:0 auto;
}

.filtr_bg {
	position:relative;
	z-index:20;
	text-align:center;	
}

#slide1 h1, #slide1 h1.smallerh1 {
	float:none;
	display:block;
	border-right:none;
	margin:0;
	padding:0;
	text-align:center;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 160px;
	/*line-height: 149px;*/
	line-height: 120px;
	color:#fff;
	font-weight:900;
}
#slide1 h1.smallerh1{
	font-size:100px;
}
#slide1 h1.smallesth1{
	font-size:60px;
}
#slide1 span {
	margin:0;
	padding:0 0 14px;
	text-align:center;
	border-bottom:1px solid #cecece;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	line-height: 30px;
	color:#fff;
	font-weight:800;
	letter-spacing:0.7px;
}
#slide1 span.smallerspan{
	font-size: 18px;
}
.slogan_text {
	display:inline-block;
	padding:0 25px;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	font-size:25px;
	line-height:33px;
	color:#fff;
}

.left_bord,
.right_bord {
	display:inline-block;
	margin-bottom:8px;
	background:#cecece;
	height:1px;
	width:340px;
}
.left_bord_smaller,
.right_bord_smaller {
	display:inline-block;
	margin-bottom:8px;
	background:#cecece;
	height:1px;
	width:200px;
}


#slide1 .button {
	cursor:pointer;
	display:block;
	margin:85px auto 0;
	width:35px;
	height:20px;
	border:none;
	text-transform:uppercase;
	background:url(../images/button_down.png) no-repeat center bottom;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}



/* ____________________________________ Slide 2 ____________________________________ */ 

#slide2 {
	background:url(../images/slide2_bg.jpg) repeat left top;
	width:100%;
	padding:86px 0 69px;
}
#slide3,#slide4,#slide5,#slide6, #slide9 {

	padding:86px 0 69px;
}
/* ________________________ Testimonials _________________________ */
.testim_in {margin-bottom:14px;
}
.testim_block {
	position:relative;
	padding:16px 18px 18px;
	color:#3e3e3e;
	border:1px solid #FFFFFF;
}
.testim_block span {
	position:absolute;
	bottom:-27px;
	right:0;
	display:block;
	width:36px;
	height:27px;
	background:url(../images/testim_span_bg.png) no-repeat;
}
.author {
	float:right;
	margin-top:29px;
	color:#363535;
}

.imgfloat{
	float:left;
}
/* _______________________ //Testimonials ________________________ */

.about_bord {
	margin-bottom:23px;
	width:100%;
	height:1px;
	background:#ceb249;
}





/* ____________________________________ Slide 4 ____________________________________ */ 
#slide4 {
	background:url(../images/slide8_bg.jpg) repeat left top;
	width:100%;
	padding:86px 0 69px;
}

#slide11 {
	width:100%;
	padding:86px 0 69px;
}



#slide4 h2 {color:#fdc82b;
}

.educ_block {
	margin:7px 0 24px;
	padding:0 0 0 30px;
	border-left:3px solid #fdc82b;
	color:#797979;
}
.educ_block p {
	padding:0 0 10px;
	text-transform:none;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	/*font-size:20px;
	line-height:22px;*/
	color:#3e3e3e;
}

/* _________________ SKILLS ________________ */
#skills_block p {
	padding:0 0 7px 0;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	line-height:20px;
	color:#808080;
}
#skills_block p b{
	font-weight:400;
	color:#3e3e3e;
}
#skills_block li {
	background:#ddd;
	width:99%;
	height:13px;
	margin-bottom:15px;
}


/* _________________ ANIMATED BOOTSTRAP ________________ */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 13px;
  margin-bottom: 16px;
  background-color: #ddd;
}
.progress .bar {
  width: 0%;
  height: 100%;
  float: left;
  font-size: 12px;
  text-align: center;
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}
.progress-striped .bar {
  background-color: #fdc82b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  -o-background-size: 15px 15px;
  background-size: 15px 15px;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


.skill1 {width:60%;
}
.skill2 {width:80%;
}
.skill3 {width:45%;
}




/* ____________________________________ Slide 8 ____________________________________ */ 
#slide8 {
	background:url(../images/slide4_bg.jpg) repeat left top;
	width:100%;
	padding:86px 0 69px;
}


/* _________________ PORTFOLIO ________________ */
.gallery-list {
	text-align:center;
	margin-right:-20px !important;
}
#slide8 .hover_img {
	overflow:hidden;
	position:relative;
	height:211px;
	width:235px;
	background:#343434;
}

.img_block {
	display:inline-block;
	margin:0 20px 20px 0;
	width:235px;
	height:211px;
}

.portfolio_zoom, .portfolio_link {
	
	width:40px;
	height:40px;
	position:absolute;
	top:-104px;
	background-repeat:no-repeat;
	background-color:#3e3e3e;
	opacity:0.54;
	filter: alpha(opacity=54);
	border-radius:50%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.portfolio_zoom {
	left:96px;
	background-image:url(../images/zoom.png);
	background-position:0 0;
	z-index:302;
	transition-delay:0.2s;
	-o-transition-delay:0.2s;
	-moz-transition-delay:0.2s;
	-webkit-transition-delay:0.2s;
}
.portfolio_link {
	right:76px;
	background-image:url(../images/link.png);
	background-position:0 0;
	z-index:303;
	transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
}
.portfolio_zoom:hover, .portfolio_link:hover {
	opacity:1;
	filter: alpha(opacity=100);
	z-index:310;
}
.portfolio_zoom a, .portfolio_link a {
	display:block;
	width:40px;
	height:40px;
	text-indent:-9999px;
}
.hover_img:hover .portfolio_zoom,
.hover_img:hover .portfolio_link {
	top:104px;
}

.item_description {
	position:absolute;
	top:-220px;
	left:0;
	right:0;
	height:211px;
	background:#fdc82b;
	text-align:center;
	color:#3e3e3e;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.hover_img:hover .item_description {
	top:0;
}

.item_description p {
	padding:22px 10px 0 10px;
	margin:0;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #3e3e3e;
	line-height: 26px;
	font-weight: 400;
	text-transform:uppercase;
}



/* _________ FILTER ________ */
#filters {
	margin-bottom:20px;
	margin-top:22px;
	text-align:center;
}
#filters li {display:inline-block;position:relative;}
#filters li a {
	display:block;
	position:relative;
	z-index:10;
	margin:0 6px 10px 0;
	padding:3px 15px;
	text-transform:none;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:26px;
	color:#3e3e3e;
	background:#fcfcfc;
}

#filters li a span {
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	bottom:0;
	width:3px;
	background:#fdc82b;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

#filters li a:hover span,
#filters li .selected span {
	width:100%;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.element {
  overflow: hidden;
  position: relative;
}
.element img {max-width:100%;
}



/* ____________________________________ Slide 10 ____________________________________ */

#slide10 {
	background:url(../images/slide10_bg.jpg) repeat left top;
	padding:86px 0 0;
	/*min-height:800px;*/
}

#slide10 .container {margin-bottom:80px;
}


/* ____________________________________ FOOTER ____________________________________ */
#footer {
	background:#3e3e3e;
	padding:27px 0 23px;
}
.copyright {
	float:left;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	color:#e9e9e9;
}
.copyright a {
	color:#fdc82b;
}
.copyright a:hover {text-decoration:none;color:#fff;
}

/* _____________ BACK_TOP ___________ */
#back_top {
	float:right;
}
#back_top a.button {
	cursor:pointer;
	position:relative;
	z-index:300;
	display:block;
	margin:0;
	width:13px;
	height:9px;
	background:url(../images/back_top.png) no-repeat;
	text-transform:uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	color:#fff;
}
#back_top a.button:hover {text-decoration:none;}


ul.list {
	list-style-type: disc;
	margin: 0 20px;
}

h5 {
	margin: 0;
	padding: 20px 0 5px;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 26px;
	font-style: normal;
	line-height: 36px;
	color: #3e3e3e;
}
.results  {
	font-size: 82px;
	text-transform: uppercase;
	color: #404040;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	height: 115px;
	padding-bottom: 30px;
}
.results h6 {
	font-size: 18px;
	text-transform: uppercase;
	color: #2f9ddc;
	font-weight: normal;
	margin: 5px;
	line-height: 17px;
}

#slide11  {
	/*background: #424242;*/
}
#slide11, #slide11 h2 ,#slide11 h4 , #slide11 .educ_block {

	color: #000 !important;
}
 #slide11 .educ_block {
 	font-size: 16px;
 	font-weight: bold;
 	text-transform: uppercase;
 	line-height: 27px;
 }
#projectteam strong {
	width: 185px;
	display: block;
	float: left;
	font-weight: normal;
}

#slide11 h1 {
	font-size: 82px;
	text-align: center;
}
.slide.mentos {
	background: #2f9ddc !important;
	color: #FFF !important;

}

.slide.mentos h2,.slide.mentos h3,.slide.mentos h4, 
.slide.adidas h2,.slide.adidas h3,.slide.adidas h4,
.slide.adidas.entries h2
 {
	color: #FFF !important;
}

