
.slide.adidas.case_studies {
	background:url(../assets/unite_jhb_casestudy.jpg) no-repeat left 200px;
	background-attachment: fixed;
	color: #FFF;
}

.slide.adidas {
	background: #1b80c4;
	color: #FFF !important;
}


::selection {
	background: #1b80c4;
	color:#fff;
}
::-moz-selection {
	background: #1b80c4; /* Firefox */
	color:#fff;
}
a:link {
	color: #1b80c4;
}

 #filters li a span, .item_description {
	background: #1b80c4;
}
.navigation li:hover, .navigation .active {
	border-bottom: 4px solid #1b80c4;
}