/* Computer */
.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 100%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 
.grid_13 { width: 66%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13  {
	margin: 0 20px 20px 0;
	float: left;
	display: block;
}

.alpha			{margin-left:0;}
.omega			{margin-right:0;}
.gallery-list 	{margin:0;padding:0;}
.little_respond {display:none;}

.container{
	width: 1000px;
	max-width: 1000px;
	margin: auto;
	
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{position:relative;z-index:99;clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

@media only screen and (max-width: 1024px) {
	.slide{background-attachment: scroll;background-position:0 0 !important;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {	
	.gallery-list .omega {margin-right:10px;}
	
	#slide1 h1 {font-size:130px;line-height:130px;}

	.left_bord, .right_bord {width:220px;}
	#slide1 span {font-size:17px;letter-spacing:0;}
	

	.padding_slide1 {padding:150px 0 30px;}
	
	iframe#jcarousel_video {left:142px;height:270px;width:442px;}
	
	.slide_descr, .slide_descr2, .slide_descr3 {width:100%;}
	
	.left_bord2, .right_bord2 {display:none;}

/* _______________ JCAROUSEL ________________ */
	.jcarousel-skin-tango .jcarousel-clip-horizontal {width:554px;height:150px;}
	.jcarousel-skin-tango .jcarousel-item {width:273px;}
/* ______________ //JCAROUSEL _______________ */
	
/* _______________ Gallery ________________ */	
	.gallery-list {margin-left:115px;}
/* ______________ //Gallery _______________ */	
/* ___________ SERV_BLOCK __________ */
	.servc_block p {font-size:28px;}
	
/* __________ //SERV_BLOCK _________ */

/* _____________ menu ______________ */
	.navigation li {margin-left:20px;}
/* ____________ //menu _____________ */
	
	.container { width: 724px; }
	.container .alpha        { margin-left: 0; margin-right: 5px; }
	.container .omega        { margin-right: 0; }
	.gallery-list .omega {margin-right:10px;}
	.container .respond_pad {padding-right:20px;}
	
	.grid_3			{ width: 166px; }
	.grid_4			{ width: 228px; }
	.grid_5      		{ width: 290px; }
	.grid_6      		{ width: 352px; }
	.grid_7   		{ width: 414px; }
	.grid_8   		{ width: 100%; }
	.grid_9			{ width: 538px; }
	.grid_12		{ width: 724px; }
	.grid_13   		{ width: 100%; }
}

@media only screen and (max-width: 766px) {
/* _______ RESPONS_MENU _________ */
	.btn_dropdown {display:block;		
	}
	ul.navigation li {float:none;padding:7px 10px 5px;margin:0;color:#3e3e3e;}
		
	.navigation {
		display:none;
		left:0;
		top:7px;
		width:160px;
		background:#fff;
		border-radius:5px;
		box-shadow:0 0 4px #000;
	}
	
	ul.navigation {width:200px;padding:10px 0;margin:0;}
/* ______ //RESPONS_MENU ________ */

/* _______________ JCAROUSEL ________________ */
	.jcarousel-skin-tango .jcarousel-clip-horizontal {width:554px;height:150px;}
	.jcarousel-skin-tango .jcarousel-item {width:273px;}
/* ______________ //JCAROUSEL _______________ */

	.inset_shadow {top:76px;bottom:0;}
	
	.padding_slide3, .padding_slide5, .padding_slide7, .padding_slide9 {padding:50px 0 45px;}
	
	.slide_descr, .slide_descr2, .slide_descr3 {width:100%;}
	h3 {font-size:18px;line-height:24px;padding:20px 0;}

	.left_bord2, .right_bord2 {display:none;}
	
	.menu {position:fixed;top:0;margin-top:0 !important;}
	#undefined-sticky-wrapper {height:0 !important;}

	.navigation li span {display:none;}
	
	.gallery-list .omega {margin-right:10px;}
	
}

@media only screen and (min-width: 480px) and (max-width: 766px) {
	h1 {font-size:46px;line-height:115px;padding-bottom:0;}
	
	#logo {text-align:center;}
	
	.padding_slide1 {padding:188px 0 100px;}

	#slide1 h1 {font-size:82px;line-height:80px;}
	#slide1 h1.smallerh1{ font-size:60px;}
	#slide1 h1.smallesth1{ font-size:30px;}
	
	.left_bord, .right_bord {width:100px;}
	#slide1 span {font-size:18px;display:block;}
	
	#slide1 .button {margin:50px auto 0;}
	
	#filters li a {font-size:14px;padding:3px 10px;}
	.gallery-list {margin-left:90px;}

/* _____________ menu ______________ */	
	#nav {margin:0;}

/* ____________ //menu _____________ */	

/* _______________ JCAROUSEL ________________ */
	.jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-item {width:320px;height:201px;}
	
	.jcarousel-skin-tango .jcarousel-clip-horizontal {margin:0 50px;}
	
	#jcarousel .jcarousel-prev, #jcarousel .jcarousel-next {top:30px;}
/* ______________ //JCAROUSEL _______________ */

	.container { width: 420px; }
	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.grid_13 {width:420px;}
	
	.fright{float:none;}
	.fleft{float:none;}
	
}

@media screen and (max-width : 479px) {	
	
	h2 {font-size:40px;line-height:50px;margin:0;}
	h4 {font-size:22px;line-height:28px;}
	
	#logo {text-align:center;}
	#logo img {width:130px;margin-top:10px;}
	
	
	.padding_slide1 {padding:188px 0 100px;}

	#slide1 h1 {font-size:50px;line-height:50px;}
	
	#slide1 h1.smallerh1{ font-size:40px; line-height:40px;}
	#slide1 h1.smallesth1{ font-size:20px;line-height:20px;}
	
	
	.slogan_text {font-size:24px;}
	.left_bord, .right_bord {width:40px;}
	#slide1 span {font-size:18px;display:block;}
	#slide1 .button {margin:40px auto 0;}
	
	.educ_block p {font-size:16px;}
	
	.gallery-list {margin-left:32px;}
	
/* _______________ JCAROUSEL ________________ */
	.jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-item {width:200px;height:201px;}
	
	.jcarousel-skin-tango .jcarousel-clip-horizontal {margin:0 50px;}
	
	#jcarousel .jcarousel-prev, #jcarousel .jcarousel-next {top:30px;}
	
	#mycarousel li p {font-size:16px;}
/* ______________ //JCAROUSEL _______________ */

/* ___________ SERV_BLOCK __________ */
	.servc_block p {font-size:22px;}
	a.servc_block {height:150px;}
		
/* __________ //SERV_BLOCK _________ */
/* _____________ menu ______________ */
	.menu {position:fixed;}
	
	#nav {margin:0;}
/* ____________ //menu _____________ */	
	.container { width: 300px; }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.grid_13 {
		width:300px;
	}
	
	.fright{float:none;}
	.fleft{float:none;}

}

@media screen and (max-width : 399px) {
	.filtr_bg {margin-top:90px !important;}
	
	
	.contact_form input[type="text"], .contact_form textarea {width:88%;}
	
	.gallery-list {width:250px;}
	
	#map_block iframe {height:300px !important;}
	
	.container { width: 295px; }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.grid_13 {
		width:295px;
	}
	
}














