#jcarousel {margin-top:17px;
}
#mycarousel li p, #mycarousel li p.smaller {
	float:left;
	padding:0 0 15px;
	text-transform:none;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	font-size:20px;
	line-height:31px;
	color:#3e3e3e;
}
#mycarousel li p.smaller{
	font-size:16px;
}
#mycarousel li p.smallest{
	font-size:16px;
}
#mycarousel li img {
	float:left;
	margin:0 20px 10px 0;
}

.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    margin:0 85px;
	width:  830px;
    height: 110px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    position:relative;
    width:400px;
	height: 110px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right:25px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    display:none !important;
}

/* ____________________ Buttons ____________________ */

#jcarousel .jcarousel-prev,
#jcarousel .jcarousel-next {
	cursor:pointer;
	position: absolute;
	top: 5px;
	width: 43px;
	height: 81px;
	outline:none;
	background-color:#3e3e3e;
	opacity:0.48;
	filter: alpha(opacity=48);
}
#jcarousel .jcarousel-next {
	background-image:url(../images/carousel_arrows.png);
	background-position:-43px 0;
	right:0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#jcarousel .jcarousel-prev {
	background-image:url(../images/carousel_arrows.png);
	background-position:0 0;
	left:0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#jcarousel .jcarousel-next:hover,
#jcarousel .jcarousel-prev:hover {
	opacity:1;
	filter: alpha(opacity=100);
}





















